/*CSS para o script JS*/
.box {
    position: relative;
    border: 0.1rem solid #000000;
    padding: 1px;
    margin: 1px;
}

.Tooltip {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.5s;
}

.Tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #203028 transparent transparent transparent;
}

.box:hover .Tooltip {
    visibility: visible;
    opacity: 1;
}

#onde-parei{
    font-size: 100px;
}


/*CSS para anotações*/

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body {
    background-color: #dad7cd;
}

code {
    color: #203028;
    font-size: 3vh;
}

h1, h2 {
    padding: 0.1rem;
    text-align: center;
    
}


p{
    padding: 0.1rem;
    text-align: start;
}

h1{
    font-size: 6vh;
}

h2{
    font-size: 5vh;
}

p, li{
    font-size: 4vh;
}

ul, li{
    margin-left: 0.1rem;
    text-align: start;
}


#main-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-size: 2vh;
    text-align: center;
    color: #588157;
    border: 0.1rem solid #203028;
}
