body {
    padding: 0;
    margin: 0;
    background: rgb(255, 255, 255);
}

.cabecalho {
    background: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
}

.menu-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    align-content: center;
    list-style: none;
}

.item-menu-principal {
    font-size: 30px;
}

.link-titulo-principal {
    font-size: 30px;
}

.link-titulo-principal, .item-menu-principal {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: blanchedalmond;
    text-decoration: none;
    padding: 10px;
    text-transform: uppercase;
}

.item-menu-principal:hover, .link-titulo-principal:hover {
    color: black;
    background: white;
    
}

.conteudo-principal {
    color: rgb(0, 22, 41);
    padding: 10px;
}

table {
    border-collapse: collapse;
    width: 800px;
}

table caption {
    caption-side: bottom;
    text-align: right;
    font-style: italic;
    font-size: 14px;
    margin: 5px 0;
}

table td, table th {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
}

tfoot td, table th{
    background: #ddd;
}

tfoot td{
    font-style: italic;
}

.responsive-table {
    max-width: 100%;
    overflow: auto;
}